@model Mvc4_Kulti.ViewModels.NostalgieViewModel
@{
	ViewBag.Title = "Nostalgie";
}

<!-- Add fancyBox 
<link href="~/Scripts/fancybox/jquery.fancybox.css?v=2.1.5" rel="text/css" media="screen" />
<script src="~/Scripts/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
-->

<style>
	#accordion {
		width: 250px;
	}

	.Fdr {
		cursor: pointer;
		font-size: 8pt;
	}
</style>


<script type="text/javascript">

	$(document).ready(function () {

		//$(".fancybox").fancybox(
		//	{
		//		fitToView: true,
		//		autoSize: false,
		//		width: 650,
		//		height: 520
		//	}
		//);

		$("#accordion").accordion({
			active: false,
			collapsible: true
		});

		
		//$("#ott").click(function () {
		//	var text_val = $('#ImageGallery').children(".fancybox").html();
		//	var children = $('#ImageGallery').children("a");
		//	var s = "[ ";
		//	$(children).each(function (index, item) {
		//		s += "{ href : '" + item + "' }, ";
		//		//s += $(this).first().html();
		//		//photos = [ {href : 'img1.jpg', title : 'Title'}, {href : 'img2.jpg', title : 'Title'} ]
		//	});
		//	s = s.substr(0, s.length -2);
		//	s += " ]";
		//	alert(s);

		//	//$.fancybox(s, { type: 'image' });
			
		//	//return false;
		//});

		$(".Fdr").click(function () {
			//var s = ""; //"[ ";
			//var t = "";
			var f = $(this).attr("FldName");
			var id = $(this).attr("id");
			var path = "/Groups/Nostalgie/" + id + "/" + f;
			$.ajax({
				url: "/Home/ViewFolder",
				data: { name: f, year: id },
				type: "GET",
				dataType: "json",
				contentType: "application/json",
				cache: false,
				success: function (data) {
					$("#ImageGallery").empty();
					$("#otherGallery").empty();
					$.each(data, function (i, item) {
						switch (item.substr(item.length - 3, 3).toLowerCase()) {
							case "jpg":
								//galleryImg[i] = '{"href" : "style/images/gallery/_img (' + (i + 1) + ').jpg"}';
								//galleryImg[i] = jQuery.parseJSON(galleryImg[i]);
								//t = '{"href" : "' + path + "/" + item + '"}';
								//t = jQuery.parseJSON(t);
								//s += t;
								var r = $("<img />").attr({
									"src": (path + "/" + item),
									"style": "width: 100px; height: auto; padding: 2px;"
								});
								$("<a>").attr({
									href: (path + "/" + item),
									rel: "widget"
								}).html(r).addClass("fancybox").appendTo("#ImageGallery");
								break;
							case "mp3":
								$("<audio></audio>").attr({
									controls: 'controls',
									src: (path + "/" + item),
									style: "width: 300px;height:30px;",
									title: item
								}).appendTo("#otherGallery").after("<div>" + item + "</div>");
								break;
							case "mp4":
								$("<video></video>").attr({
									'src': (path + "/" + item),
									controls: 'controls',
									type: 'video/mp4'
								}).appendTo("#otherGallery");
								break;
							default:
								$("#otherGallery").append("<div id='txtDiv'>" + item + "</div>");
								break;
						}
					});
	
					//s = s.substr(0, s.length - 2);
					//s += " ]";
					//s = "{"href":"/ gallery / galleries / gallery1 / wallpapers_by_ellin - 30711.jpg"}";
					//alert(s.length);

					$(".fancybox").fancybox(
						{
							fitToView: true,
							autoSize: false,
							width: 650,
							height: 520
						}
					);
					
					//$(".fancybox").fancybox(s, {
					//	type: "image",
					//	fitToView: true,
					//	autoSize: false,
					//	"width": 650,
					//	"height": 520
					//});

					//$(".fancybox").fancybox().trigger("click");


					//alert("ok");

				}		
			});
			return false;
		});


	});  //$(document).ready

</script>
<fieldset class="ui-widget ui-widget-content">
	<legend class="ui-widget-header ui-corner-all"><span id="newTitle">@ViewBag.Title</span></legend>
	<div>
		<table style="width: 100%;">
			<tr>
				<td>
					<div id="accordion">
						@foreach (var e in Model.ClsNos.SubFolders)
						{
							<h3>@e.FolderName</h3>
							<div>
								<ul>
									@if (e.FolderName == "2015")
									{
										<li style="font-size: 12px;">
											@Html.ActionLink("PanoramaView der Kulti", "PanoramaView", "Home")
										</li>
									}
									@foreach (var w in e.SubFolders)
									{
										<li class="Fdr" id="@e.FolderName" FldName="@w.FolderName">
											@w.FolderName
										</li>
									}
								</ul>
							</div>
						}
					</div>
				</td>
				<td>
					<div id="otherGallery"></div>
					<div id="ImageGallery"></div>
				</td>
			</tr>
		</table>
	</div>
</fieldset>

@section featured {
	<section class="contact">
		<header>
			<h3>Unsere Vergangenheit..</h3>
		</header>
		Die Kulti sieht sich als langfristiges Projekt.
		<br />
		In diesem Zusammenhang ist es wichtig und interessant, lange Entwicklungsphasen zu überblicken, um sie nachvollziehen und verstehen zu können.
		<br />
		Ausserdem macht es Spass:
		<br />
		Ältere schwelgen im "Weisst Du noch?" - Jüngere können das Damals entdecken und es mit dem Heute vergleichen...
		<br />
		Das vorliegende Archivmaterial ist bis jetzt unvollständig und wird laufend ergänzt.
		<br />
		Wer also noch Interessantes beisteuern kann und möchte, am Besten in digitaler Form, ist herzlich aufgefordert, uns dazu
		@Html.ActionLink("hier", "Contact", "Home", new { id = "1" }, null) zu kontaktieren.
		<br />
	</section>
}

